body {
    font-family: Arial, Helvetica, sans-serif;
   
    /* background-image: url(../cima.jpg); */
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
   /* padding-top:4.2rem;*/
   /* padding-bottom:4.2rem;*/
}
.bg-yellow {
    color: #000 !important;
}
.bg-dark {
    background-color: #E3E7E8 !important;
}
.my-sm-0 {
    color: #1E9ACD !important;
    background-color: #97C5D8 !important;
}
.my-sm-0:hover {
    color: #97C5D8 !important;
    background-color: #1E9ACD !important;
}
.center {
    margin-left: 10%; /*ou 25%*/
   /* margin-top: ;*/
}
.btn {
    border: #db8a28 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}
.bg-yellow-btn {
    border-color: #db8a28 !important;
}
.cont {
    margin-left: 10px;
}
.my-lg-0 {
    margin-left: 25% !important;
}
.bg-yello {
    color: #1E9ACD !important;
    background-color: #E3E7E8 !important;
}
/*.bg-yello:hover {
    color: #E3E7E8 !important;
    background-color: #97C5D8 !important;
}*/
.bg-whit {
    color: #E3E7E8 !important;
    background-color: #97C5D8 !important;
}
.bg-whit:hover {
    color: #97C5D8 !important;
    background-color: #1E9ACD !important;
}
.row {
    height: 100% !important;
}
/*-----------------------------------------------------------------*/
/*css pag de login*/


    /* background:rgba(0, 0, 0, 0.76); */
    
    a{
     text-decoration:none !important;
     }
     h1,h2,h3{
   
     font-family: Arial, Helvetica, sans-serif;
     }
      .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
      
    /* background-color: #fff; */
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
     border-radius:50px;
     }
    
     .login-or {
     position: relative;
     /*color: #aaa;*/
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     /* background-color: #fff; */
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }
     .google {
     /* color:#666; */
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }
      
     #second{display:none;}

/*-----------------------------------------------------------------*/
/* painel do cliente */
body {background: #fff;}
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
 .user-image img { clear: both; margin: auto; position: relative;}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
 .user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
 .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
  .navigation li {float: left; margin: 0; padding: 0;}
   .navigation li a {padding: 20px 30px; float: left;}
   /* .navigation li.active a {background: #428BCA; color: #fff;} */
 .user-info-block .user-body {float: left; padding: 5%; width: 90%;}
  .user-body .tab-content > div {float: left; width: 100%;}
  .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
/*css do caio*/

.ss{
color: #000000;

}
.tt{
    margin-top: 5%;
}
.jj{
color: white;
}


/* .card{
    margin-top: 5%;
}*/



/* cart */
.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}

/*PARTE DO CAIO ^^*/
/* CSS DO GABRIEL*/
.adm{
    font-family: Arial, Helvetica, sans-serif !important;
}

.p{
  float: right;
color: white !important;  
}
.azul{
  background-color: #428bca !important ;
  color: white !important;
}
.azul1{
    background-color: #4281cb !important ;
    color: white !important;
  }

.top{
  margin-top: 3% !important;
}
.linha{
  display: inline-block!important;
  margin-left: 5%;
}
.direita{
  float:right;
}
.direita button a{
  text-decoration: none;
  
}
div ul li{
  text-decoration: none;
}

.esquerda{
  float: left;
  margin-right: 10% ;
}




/* Css Produtos*/

.cinza-btn{
  background-color: #bbb;
 
}
  .tres {

    
    border: solid 1px #bbb;
  }

  .saitop{
    margin-top: 2% !important;
  }
  .ficabot{
    position: relative;
  }
  .saitop1{
    margin-top: 1%;
  }
  .no-centro{
   
    text-align: center !important;
    
    
  }

  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #89939C;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #E3E7E8;
        border-radius: 50%;
        text-align: center;
        color: #bbbb;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #97C5D8;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #1E9ACD;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #bbb;
        transition: background-color .5s;
    }

#ads .ad-btn:hover {
            background-color: #97C5D8;
            color: #1e1717;
            border: 2px solid #2B3D4D;
            background: transparent;
            transition: all 0.5s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            transition: background-color .5s;
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
    /*Herder GB*/
    .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active,
     .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark 
     .navbar-nav .nav-link:focus, .navbar-dark
    .nav-link{padding:15px 5px;transition:0.2s;}
    .nav-item::after{content:'';display:block;width:0px;height:2px;background:rgb(69, 119, 122);transition: 0.2s;}
    .nav-item:hover::after{width:100%;}
   
  .foto1{
    height:auto !important;
   width: auto !important;
  }
  
.social-container{
  
  border-bottom: solid 1px blue; 
  display: flex;
  margin-right: 5%;
}
.perfil{
color: #1E9ACD;
background-color: #bbb;
}
.sairight{
  margin-right: 10%;
}
.sairight0{
  margin-right: 5px;
}
.saileft0{
  margin-left: 5px !important;
}

.menucliente{
  background-color: #bbb;
  
}

.preto{
  background-color: #bbbb;
}
.white{
  color: #fff;
}

.voaesquerda{


  float: left;
}
/*.detalhe:hover{

  
 
}*/
.detalhe:hover::after{
  
  content:" Detalhes do Produto";

  
 
}



.box21 img{width:100%;height:auto}
.reajusti{
  max-width: 268px;
  max-height: 268px;
}
.oll{
  float: left !important;
}
.oll1{
  float: right !important;
}
.tmme{
  float: left;
  max-width:59%;
  max-height: 59%;

}
.tmme1{
  float: right;
  max-width:40%;
  max-height: 40%;

}
@media only screen and (max-width:479px){.box21 .box-content{padding-top:0}
}
@media only screen and (max-width:359px){.box21 .title{padding-bottom:10px}
}

.rodape {
  position: relative;
  bottom:0;
  
  
  width:100%;
}
.no-dio{
  text-align: center;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vertical-menu a {
   /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
.farra{
color: rgb(194, 181, 181);

}
.farra:hover{
  color: #000;
}
.texx{
  text-decoration: solid !important;
}

/* pagina institucionais */

.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* contato institucuional */

/*
    @hiercelik - hiercelik.net
    @koalapix - koalapix.com
*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);
@media (min-width: 768px) {
    .kpx_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}
body {
    font-family: 'Titillium Web', sans-serif; 
}
a{
    /* color:#ff5400; */
}
a:hover {
    opacity: 0.8;
    /* color:#ff5400; */
    text-decoration:none;
}
.kpx_login .kpx_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.kpx_login .kpx_socialButtons a {
    color: white; /* In yourUse @body-bg */
	opacity:0.9;
}
.kpx_login .kpx_socialButtons a:hover {
    color: white;
	opacity:1;    	
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook {background: #3b5998; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-facebook:hover {background: #172d5e}
.kpx_login .kpx_socialButtons .kpx_btn-facebook:focus {background: #fff; color:#3b5998; border-color: #3b5998;}

.kpx_login .kpx_socialButtons .kpx_btn-twitter {background: #00aced; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-twitter:hover {background: #043d52}
.kpx_login .kpx_socialButtons .kpx_btn-twitter:focus {background: #fff; color:#00aced; border-color: #00aced;}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus {background: #c32f10; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-google-plus:hover {background: #6b1301}
.kpx_login .kpx_socialButtons .kpx_btn-google-plus:focus {background: #fff; color: #c32f10; border-color: #c32f10}

.kpx_login .kpx_socialButtons .kpx_btn-soundcloud {background: #ff8800; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-soundcloud:hover {background: #c73e04}
.kpx_login .kpx_socialButtons .kpx_btn-soundcloud:focus {background: #fff; color: #ff8800; border-color:#ff8800}

.kpx_login .kpx_socialButtons .kpx_btn-github {background: #666666; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-github:hover {background: #333333}
.kpx_login .kpx_socialButtons .kpx_btn-github:focus {background: #fff; color : #666666; border-color: #666666}

.kpx_login .kpx_socialButtons .kpx_btn-steam {background: #878787; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-steam:hover {background: #292929}
.kpx_login .kpx_socialButtons .kpx_btn-steam:focus {background: #fff; color : #878787; border-color: #878787}

.kpx_login .kpx_socialButtons .kpx_btn-pinterest {background: #cc2127; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-pinterest:hover {background: #780004}
.kpx_login .kpx_socialButtons .kpx_btn-pinterest:focus {background: #fff; color: #cc2127; border-color: #cc2127}

.kpx_login .kpx_socialButtons .kpx_btn-vimeo {background: #1ab7ea; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-vimeo:hover {background: #162221}
.kpx_login .kpx_socialButtons .kpx_btn-vimeo:focus {background: #fff; color: #1ab7ea;border-color: #1ab7ea}

.kpx_login .kpx_socialButtons .kpx_btn-lastfm {background: #c3000d; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-lastfm:hover {background: #5e0208}
.kpx_login .kpx_socialButtons .kpx_btn-lastfm:focus {background: #fff; color: #c3000d; border-color: #c3000d}

.kpx_login .kpx_socialButtons .kpx_btn-yahoo {background: #400191; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-yahoo:hover {background: #230052}
.kpx_login .kpx_socialButtons .kpx_btn-yahoo:focus {background: #fff; color: #400191; border-color: #400191}

.kpx_login .kpx_socialButtons .kpx_btn-vk {background: #45668e; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-vk:hover {background: #1a3352}
.kpx_login .kpx_socialButtons .kpx_btn-vk:focus {background: #fff; color: #45668e; border-color: #45668e}

.kpx_login .kpx_socialButtons .kpx_btn-spotify {background: #7ab800; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-spotify:hover {background: #3a5700}
.kpx_login .kpx_socialButtons .kpx_btn-spotify:focus {background: #fff; color: #7ab800; border-color: #7ab800}

.kpx_login .kpx_socialButtons .kpx_btn-linkedin {background: #0976b4; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-linkedin:hover {background: #004269}
.kpx_login .kpx_socialButtons .kpx_btn-linkedin:focus {background: #fff; color: #0976b4; border-color: #0976b4}

.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon {background: #eb4924; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon:hover {background: #943019}
.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon:focus {background: #fff; color: #eb4924; border-color: #eb4924}

.kpx_login .kpx_socialButtons .kpx_btn-tumblr {background: #35465c; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-tumblr:hover {background: #142030}
.kpx_login .kpx_socialButtons .kpx_btn-tumblr:focus {background: #fff; color: #35465c; border-color: #35465c}


.kpx_login .kpx_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.kpx_login .kpx_loginOr .kpx_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.kpx_login .kpx_loginOr .kpx_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.kpx_login .kpx_loginForm .input-group.i {
	width: 2em;
}
.kpx_login .kpx_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .kpx_login .kpx_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

/* PARTE GABRIEL*/